:root {
  --container-width: 1600px;
  --container-small-width: 1360px;
  --basic-space: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}
.container-small {
  max-width: calc(var(--container-small-width) + var(--basic-space) * 2);
}
.hidden {
  display: none !important;
}

h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.title_h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}
h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
}
h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
p {
  font-size: 16px;
  line-height: 26px;
}
.p-small {
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}
ul {
  font-size: 18px;
  line-height: 26px;
}
ol {
  color: #f0145a;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
a {
  font-size: 16px;
  line-height: 20px;
}
a:active {
  color: #24a3ff;
}
