@media (max-width: 1440px) {
  :root {
    --container-width: 1360px;
    --container-small-width: 1080px;
  }
}
@media (max-width: 992px) {
  :root {
    --container-width: 904px;
    --container-small-width: 664px;
  }
  .container-contact {
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
  }
  .container_team_entry {
    max-width: calc(var(--container-width) + var(--basic-space) * 2);
  }
  .wrapp-publications {
    grid-template-columns: repeat(2, 1fr);
  }
  .img_entry_team {
    min-width: 300px;
  }
}
@media (max-width: 975px) {
  .header .publications-container {
    padding-top: 50px;
    display: grid;
    grid-template-areas:
      "b"
      "a"
      "c";
  }
  .box1 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-up {
    justify-content: start;
  }
  .wrap-mobile {
    display: block;
  }
  .nav-mobile {
    justify-content: start;
  }
}
@media (max-width: 950px) {
  :root {
    --container-width: 648px;
  }
  .header .container {
    padding-top: 50px;
    display: grid;
    grid-template-areas:
      "b"
      "a"
      "c";
  }
  .box1 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav-up {
    justify-content: start;
  }
  .wrap-mobile {
    display: block;
  }
  .nav-mobile {
    justify-content: start;
  }
  .container .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .copy {
    margin-top: 30px;
  }
  .first-section .container-contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
@media (max-width: 860px) {
  .container_team_entry {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
  }
  .wrapp_title_line .separator-grey {
    display: none;
  }
  .wrapp_title_line {
    justify-content: center;
  }
  .wrapp_title_line .wrapp {
    flex-direction: column;
    align-items: start;
  }
  .container_team_entry {
    column-gap: 30px;
  }
}
@media (max-width: 590px) {
  :root {
    --basic-space: 30px;
  }
  .team-logo {
    font-size: 20px;
    line-height: 24px;
  }
  .header .container {
    padding-top: 0;
    grid-template-rows: minmax(45px, 1fr);
    grid-template-areas:
      "b"
      "a";
  }
  .nav-up {
    justify-content: space-between;
    background-color: #f5f5fa;
    margin-left: calc(-1 * var(--basic-space));
    margin-right: calc(-1 * var(--basic-space));
    padding-left: calc(var(--basic-space) / 2);
    padding-right: calc(var(--basic-space) / 2);
  }
  .header .container {
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
  }
  h1 {
    font-size: 30px;
    line-height: 37px;
  }
  .map {
    display: none;
  }
  .separator-grey {
    display: none;
  }
  .facebook-header {
    display: none;
  }
  .box1 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .container .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .img-card {
    height: 300px;
  }
  .footer .up-line {
    flex-direction: column;
  }
  .footer .down-line {
    flex-direction: column;
  }
  header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-left: calc(-1 * var(--basic-space));
    margin-right: calc(-1 * var(--basic-space));
    padding-left: calc(var(--basic-space) / 2);
    padding-right: calc(var(--basic-space) / 2);
  }
  .hide_check,
  .burger {
    display: flex;
  }
  .hide_check:checked ~ .wrap-mobile {
    position: static;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #323264;
    position: fixed;
    inset: 0;
  }
  .hide_check:checked ~ .wrap-mobile .nav-mobile {
    transform: translateY(0);
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 8px;
    padding: 64px 12px 12px 12px;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 12px;
    transition: 0.3s all linear;
    transform: translateY(100vh);
  }
  .nav-mobile .nav-link {
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: #24a3ff;
    background: #f5f5fa;
    border-radius: 12px;
  }
  .nav-mobile .nav-link:active {
    background-color: #e6e6f0;
    color: #f0145a;
  }
  .nav-link:hover {
    border-bottom: none;
  }
  .nav-mobile .nav-link::after {
    display: none;
  }
  .wrapp-publications {
    grid-template-columns: 1fr;
  }
  .container_team_entry {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c";
  }
  .title_team_entry {
    margin-top: 30px;
  }
}
